@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background-dark-mode: #242424;
  --secondary-dark-mode: #062F4F;
  --highlight-dark-mode: #B82601;
  --background-light-mode: #EFEFEF;
  --secondary-light-mode: #A9A9A9;
  --highlight-light-mode: #FF3B3F;
  --txt-dark-mode: rgba(255, 255, 255, 0.87);
  --txt-light-mode: rgba(0, 0, 0, 0.87);
  --font: "Montserrat", sans-serif;
}

html, body {
  min-height: 100vh;
  font-family: var(--font);
  background-color: var(--background-dark-mode);
  color: var(--txt-dark-mode);
}
